body {
}
* {
  font-family: "Courier New", Courier, monospace;
}

input[type="text"],
input[type="password"] {
  font-size: 25px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 10px;
  background: none;
  color: white;
}

::placeholder {
  color: white;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/background.jpg");
  margin: 4%;
  background-size: 100% auto;
  opacity: 0.9;
  filter: blur(0.3px);
}

.heading {
  align-content: center;
  text-align: center;
}

.heading-title {
  font-size: 50px;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  border: 10px double white;
  justify-content: center;
  margin: 3%;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.first > div {
  flex: 1;
  width: 300px;
  margin: 10px;
}

.label {
  display: block;
  margin: 5px;
  font-size: 16px;
  color: white;
}

select {
  font-size: 18px;
  background: none;
  color: white;
  border: none;
  outline: none;
  width: 300px;
}

option {
  background-color: black;
}

textarea {
  background: none;
  color: white;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 5px;
  outline: none;
  font-size: 25px;
  padding: 10px;
}

.box2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  font-size: 25px;
  width: 50%;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 30px;
  border-radius: 25px;
  outline: none;
}

button:hover {              
  background: rgb(63, 62, 62);
  color: black;
  border: 1px solid black;
}
